.navbar {
  height: 70px;
  background: #0b1120;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #00f7ff;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #00f7ff;
}

.active a {
  color: #00f7ff;
  border-bottom: 2px solid #00f7ff;
  padding-bottom: 5px;
}

.logout-btn {
  background: #00f7ff;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #00c3cc;
}